version: '3.8'
services:
  mongo:
    image: mongo:latest
    container_name: go_ad_mongo
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: examplepassword
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
